* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1 {
  font-weight: 400;
  font-family: 'Long Cang';
  color: #FFF613;
}

h2 {
  font-family: 'Noto Sans SC';
  font-weight: 500;
}

h3 {
  font-family: 'Noto Sans SC';
  font-weight: 400;
}

/********** HERO SECTION **********/
#hero {
  background: url(/images/hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero-text-wrapper {
  position: relative;
}

#hero-text {
  width: 400px;
  text-align: center;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero-text > h1 {
  font-size: 90px;
  font-weight: 500;
}

#hero-text > h2 {
  margin-top: 25px;
  font-size: 26px;
  color: #FFFFFF;
}

#hero-form {
  position: relative;
}

#form {
  background: #FFFFFF;
  width: 400px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form-title {
  font-size: 18px;
  color: #333232;
  background: #F4F5F0;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #dfdfd7;
}

#form-body {
  padding: 10px;
}

#amount-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 20px;
}

.amount-button {
  background-color: #E9EAE4;
  height: 52px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #dfdfd7;
  cursor: pointer;
}

.amount-button > h3 {
  line-height: 30px;
}

#amount-value {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  border: 1px solid #03bd51;
}

#amount-value > h3 {
  line-height: 26px;
  margin-right: 10px;
}

#amount-text {
  width: 100%;
  border: none;
  background-color: #FFFFFF;
}

#amount-text::placeholder {
  color: #E9EAE4;
}

#text-invalid {
  margin-bottom: 5px;
  font-size: 15px;
  color: rgb(247, 40, 40);
}

.selected {
  background-color: #03bd51;
}

.amount-button > h3 {
  color: #9b9b94;
  font-size: 15px;
}

.selected > h3 {
  color: #FFFFFF;
}

#amount-other {
  display: block;
}

#amount-value {
  display: none;
}

#amount-other, #amount-value {
  grid-column-start: 2;
  grid-column-end: 4;
}

#temple-selection {
  font-size: 18px;
  color: #333232;
  width: 100%;
  height: 50px;
  border: 1px solid #dfdfd7;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 0 10px;
  background-color: #FFFFFF;
}

#donate-button {
  font-size: 20px;
  width: 100%;
  height: 60px;
  background-color: #03bd51;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#hero-bg-mobile {
  display: none;
  width: 100%;
  margin-top: 10px;
}

#hero-bg-mobile > img {
  display: none;
  width: 100%;
}



/********** LOCATIONS SECTION **********/
#locations {
  margin: 60px auto;
}

#locations-title {
  text-align: center;
  color: #333232;
  font-size: 72px;
  margin-bottom: 40px;
}

#locations-content-wrapper {
  position: relative;
  height: 514.5px;
}

#locations-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
  max-width: 1194px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#locations-content-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 47px;
  width: 478.8px;
  /*margin: 0 0 0 auto;*/
  margin: 0 auto 0 0;
}

#locations-content-map {
  margin: 0 0 0 auto;
}

.temple-cards {
  width: 215.9px;
  height: 233.75px;
  background: url(/images/temple_a.png) center;
  background-repeat: no-repeat;
  background-size: auto;
  filter: drop-shadow(0px 10px 20px rgba(71, 71, 71, 0.25));
  border-radius: 4px;
  position: relative;
}

#ad-card {
  background: url(/images/ad_card.png);
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  filter: none;
}

#ad-card-txt {
  font-size: 64px;
  color: #FFFFFF;
  text-align: center;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.temple-cards-labels {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  border-radius: 0 0 4px 4px;
}

.temple-cards-labels-btn {
  background-color: #03bd51;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #FFFFFF;
}

#desktop-map {
  width: 478.8px;
  height: 497px; 
}

#mobile-map {
  width: 100%; 
  height: 230px;
  margin-bottom: 40px;
  display: none;
}



/********** STORIES SECTION **********/
#story {
  background-color: #FBF8F6;
  width: 100%;
  height: auto;
}

#story-content-wrapper {
  padding: 60px 0;
}

#story-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 60px;
  max-width: 1194px;
  width: 100%;
  margin: 0 auto;
}

#story-title {
  font-size: 40px;
  margin: 0 0 20px 0;
}

#story-image {
  width: 100%;
  height: 220px;
  background: url(/images/story_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0 0 40px 0;
}

#story-more {
  display: none;
}

#story-text {
  position: relative;
}

#story-text > h3 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
}

#story-gradient {
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg,rgba(251,248,246,0) 0,#fbf8f6);
  position: absolute;
  bottom: 0;
}

#story-btn {
  font-size: 18px;
  color: #333333;
  cursor: pointer;
}

#story-donate {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(46, 46, 46, 0.25);
  border-radius: 4px;
  margin-top: 78px;
  padding: 20px;
  position: sticky;
}

hr {
  margin: 20px auto 26px auto;
}

#people-donated {
  width: 100%;
  height: 60px;
  background-color: #FFEFB7;
  border-radius: 4px;
  display: flex;
}

#people-donated-txt {
  color: #FFB800;
  line-height: 60px;
}

#share {
  font-size: 18px;
  margin: 20px 0 10px 0;
}



@media only screen and (max-width: 800px) {
  
  #hero {
    display: block;
    height: auto;
    background-position: -250px 0;
    /*background: #D2DCDD;*/
  }
  
  #hero-text-wrapper {
    padding-top: 50px;
    position: unset;
  }

  #hero-text {
    width: 100%;
    padding: 0 10px;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
  }

  #hero-text > h1 {
    font-size: 70px;
    color: #FFFFFF;
  }

  #hero-text > h2 {
    font-size: 20px;
    color: #FFFFFF;
  }

  #hero-form {
    position: unset;
    margin-top: 50px;
    height: 344px;
  }

  #form {
    width: 100%;
    max-width: 400px;
    top: unset;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 30px;

  }

  #form-title {
    background: rgba(244, 245, 240, 0.7);
    backdrop-filter: blur(3px);
  }

  #form-body {
    backdrop-filter: blur(5px);
  }

  #temple-selection {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.5);
  }

  /*
  #hero-bg-mobile {
    display: block;
  }

  #hero-bg-mobile > img {
    display: block;
  }
  */

  #locations-content {
    display: block;
  }

  #locations-content-cards {
    display: block;
    width: 100%;
    padding: 0 50px;
  }

  .temple-cards{
    width: 100%; /*254px*/
    height: 275px;
    background-size: cover;
    margin: 0 auto 60px auto;
  }

  #ad-card {
    display: none;
  }

  #desktop-map {
    display: none;
  }

  #mobile-map {
    display: block;
  }

}
